body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,input,textarea{ margin:0; padding:0;}
img{ vertical-align:top; border:none;}
li{ list-style:none;}
a{ text-decoration:none; color:#000;}
input,textarea{ outline:none; background:none; border:none;}
textarea{ resize:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}