	html{ font-size:40px;}
	body{ width:100%; height:100%; position:relative; }
	#wrap{ width:100%; height:100%; }
	#hd{ background: #000;height:0.9387rem;}
	#menu_ico{ width:0.48rem; height:0.3413rem; background: url("../img/1.png") no-repeat; margin-top:0.2987rem; margin-left:0.587rem;background-size: 0.48rem 0.3413rem; }

	#menu{ width:100%; height:100%;background:#000; position:absolute; z-index:100; display:none;}
	#box{   position: absolute; top:5rem; left:3rem; }
	#box li a{ color:#fff; font-size:0.52rem; width:2.18rem;display: block; border-bottom:1px solid #fff; line-height: 0.8rem;}

	#hd_word{ font-size:0.363rem; line-height:0.8853rem; color:#fff; font-weight:bold; margin-left:2.176rem; }
	#sec #bac{ width:100%; height:8.544rem;  background:url("../img/banner.jpg") no-repeat;background-size:100% 8.544rem; position: relative; }
	#sec #bac #smart{ font-size:0.3627rem; line-height:1.056rem; position: absolute;  top:4.2453rem; left:0.747rem; color:#fff; font-weight:bold; }
	#sec #bac #heal{ font-size:0.6827rem; line-height:0.9067rem; color:#fff; background:#d41326; padding:0rem 0.288rem 0rem 0.1707rem;position:absolute; top:5.3013rem; left:0.736rem; }
	#sec #bac #big{ font-size:0.6827rem;line-height:1.056rem; color:#fff; position:absolute; top:5.3013rem; left:4.373rem;}
	#sec .artic .ti{ font-size: 0.4693rem;padding-top:0.928rem;  }
	#sec .artic #num{ color:red;margin-left:0.5653rem; }
	#sec .artic #first_word{ font-size:0.4693rem; margin-left:0.3413rem; }
	#sec .line{ width:0.9066rem; height:0.0853rem; background:red; margin-left:1.4186rem;display: block; margin-top:0.288rem; margin-bottom:0.3946rem;  }
	#sec .artic #cont{ font-size:0.2994rem; line-height: 0.512rem; width:5.0986rem; margin-left:1.4186rem;}


	.swiper-container {width:calc(100% - 1.024rem); height:3.3387rem; background:#fafafa; margin-top:0.5973rem;padding:0.9066rem 0.512rem 0rem;overflow: auto;}
    .swiper-slide { width:2.3253rem;}
    .swiper-wrapper .swiper-slide .ico{  width:0.9386rem; height:0.7466rem; margin:0rem 0.693rem; background-size: 0.9386rem 0.7466rem; display: block; }
    #one{background:url("../img/elite.svg") no-repeat;  }
    #two{background:url("../img/medical.svg") no-repeat;  }
    #three{background:url("../img/leading.svg") no-repeat;  }
    #four{background:url("../img/cloud.svg") no-repeat;  }
    #five{background:url("../img/bigData.svg") no-repeat;  }
    #six{background:url("../img/ais.svg") no-repeat;  }
    #seven{background:url("../img/acs.svg") no-repeat;  }



	.ico_wor{ font-size: 0.2986rem;line-height: 0.7146rem;text-align: center;display: block; }
	.ico_eng{ font-size:0.192rem; line-height: 0.326rem; text-align: center; display: block; }
	.black{ color:#fff; background:#000;margin-top:0.28266rem; position:relative;}
	#sec .line1{ background:#fff;  }
	video{ width:6.8053rem; height:4.3413rem;margin:0.5333rem 0.5973rem 0.7253rem; }
	#ar{ width:0.9813rem; height:0.9813rem; border-radius: 50%; background:#000; opacity: 0.7; position:absolute; top:9.5rem; left:3.4rem;  }
	#arrow{ border:14px solid transparent; border-left:14px solid #fff;position:absolute; top:0.2rem; left:0.4rem; }
	.eml{  line-height: 0.7253rem; margin-top:0.08533rem;}
	#geo{ width:8rem;height:2.5813rem; margin-top:0.352rem; margin-bottom:0.1066rem; }
	#foot{height: 1.344rem; line-height:1.344rem; font-size:0.2733rem; color:#999; text-align: center;}