*{
			padding:0;
			margin:0;
		}
		html{
			font-size: 20px;
		}
		body{ position:relative; }
	#hd{ background: #000;height:1.8774rem;}
	#menu_ico{ width:0.96rem; height:0.6826rem; background: url("../img/1.png") no-repeat; margin-top:0.5974rem; margin-left:1.174rem;background-size: 0.96rem 0.6826rem; }

	#menu{ width:100%; height:100%;background:#000; position:absolute; z-index:100; display:none;}
	#box{   position: absolute; top:10rem; left:6rem; }
	#box li a{ color:#fff; font-size:1.04rem; width:4.36rem;display: block; border-bottom:1px solid #fff; line-height: 1.6rem;}

	#hd_word{ font-size:0.726rem; line-height:1.7706rem; color:#fff; font-weight:bold; margin-left:4.352rem; }
		#lg_wrap{
			width:16rem;
			height:1.88rem;
			background:#040404;
			position: relative;
		}
		#lg_wrap menu{
			width:0.96rem;
			height:0.69rem;
			background: url("../img/1.jpg") no-repeat;
			background-size:cover;
			position: absolute;
			top: 0.69rem;	
			left: 1.15rem;
		}
		#lg_wrap h3{
			color:#fff;
			font-size:0.73rem;
			margin: 0 auto;
			line-height:1.88rem;
			text-align: center;
		}
		/*section*/
		section .lg_goods img{
			width:16rem;
			height:6.4rem;
		}
		section .lg_up {
			width: 16rem;
			height:6.2rem;
			background: #fafafa;
		}
		section .lg_up li{
			width:4rem;
			float: left;
			text-align: center;
			margin-top:1.66rem;
			font-size:0.47rem;
		}
		section .lg_up .active a{
			color:red;
		}
		 .active .intr-svg .st0 {
            fill:red;
        }
        .intr-svg {
            width: 3rem;
            height: 2rem;
            margin-bottom: 0.6rem;
        }
       	section{
       		overflow: hidden;
       	}
       	section .lg_down {
       		overflow:hidden;
       	}
        section .lg_down li{
        	float: left;
        	width: 16rem;
        	height:17.6rem;
        }
        section .lg_down li span{
        	width:0.17rem;
        	height:0.8rem;
        	background: red;
        	float: left;
        	margin: 1.33rem 0.72rem 0 1.15rem;	
        }
        section .lg_down li div h3{
        	margin-top: 1.2rem;
        	font-size:0.99rem;
        	float: left;
        	color:red;
        }
        .lg_drop{
        	width:64rem;
        	overflow:hidden;
        }
        .lg_drop img{
        	width:16rem;
        	height:6.06rem;
        }
        section .lg_down li p{
			font-size: 0.62rem;
			line-height: 1.02rem;
			margin-left: 2.13rem;
			margin-right:1.12rem;
			
        }